@import url("http://crunch.io/css/fonts/proximanova.css");

body {
    color: #565656;
    font-family: ProximaNova, Lato, sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
}

#sidebar {
    font-size: 16px
}

#sidebar p {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: ProximaNova, Lato, sans-serif;
    color: #0064a4;
}

a {
    color: #0064a4;
}

a:hover {
    color: #0064a4;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #0064a4;
}

.navbar-default {
    background-color: #000;
}

code {
    font-size: 85%;
    border-radius: 0;
}
