S3method(as.data.frame,CrunchDataset)
S3method(as.list,CrunchDataset)
S3method(as.list,ShojiCatalog)
S3method(as.vector,CategoricalVariable)
S3method(as.vector,CrunchVariable)
S3method(as.vector,DatetimeVariable)
S3method(as.vector,NumericVariable)
S3method(as.vector,TextVariable)
S3method(is,shoji)
S3method(print,CategoricalVariableSummary)
S3method(summary,CategoricalVariable)
S3method(summary,NumericVariable)
export("hiddenVariables<-")
export("weight<-")
export(CategoricalArrayVariable)
export(CategoricalVariable)
export(Categories)
export(Category)
export(CrunchDataset)
export(DatetimeVariable)
export(MultipleResponseVariable)
export(NumericVariable)
export(TextVariable)
export(VariableGroup)
export(VariableGrouping)
export(as.vector.CrunchVariable)
export(findVariables)
export(getVariableOrder)
export(hiddenVariables)
export(hideVariables)
export(is.CA)
export(is.Categorical)
export(is.CategoricalArray)
export(is.Datetime)
export(is.MR)
export(is.Multiple)
export(is.MultipleResponse)
export(is.Numeric)
export(is.Text)
export(is.dataset)
export(is.variable)
export(listDatasets)
export(loadDataset)
export(login)
export(logout)
export(makeArray)
export(makeMR)
export(newDataset)
export(newDatasetFromFile)
export(printVariableOrder)
export(setVariableOrder)
export(summary.CategoricalVariable)
export(table)
export(unhideVariables)
export(updateDatasetList)
export(weight)
exportMethods("$")
exportMethods("$<-")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[")
exportMethods("[[<-")
exportMethods("categories<-")
exportMethods("description<-")
exportMethods("name<-")
exportMethods("names<-")
exportMethods("readonly<-")
exportMethods("subvariables<-")
exportMethods("type<-")
exportMethods("value<-")
exportMethods("values<-")
exportMethods(categories)
exportMethods(delete)
exportMethods(description)
exportMethods(dichotomize)
exportMethods(dim)
exportMethods(entities)
exportMethods(hide)
exportMethods(id)
exportMethods(ids)
exportMethods(is.dichotomized)
exportMethods(is.selected)
exportMethods(mean)
exportMethods(median)
exportMethods(na.omit)
exportMethods(name)
exportMethods(names)
exportMethods(refresh)
exportMethods(sd)
exportMethods(self)
exportMethods(show)
exportMethods(subvariables)
exportMethods(toJSON)
exportMethods(toVariable)
exportMethods(type)
exportMethods(undichotomize)
exportMethods(unhide)
exportMethods(value)
exportMethods(values)
importFrom(RJSONIO,fromJSON)
importFrom(RJSONIO,toJSON)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(httr,http_status)
importFrom(httr,set_cookies)
importFrom(httr,upload_file)
importFrom(methods,is)
